:root {
		--main-bg-color: rgba(65, 148, 218,0.5);
}
* {
	font-family: 'Mukta Mahee', sans-serif;
}
.navbar-default .navbar-brand {
	font-family: 'Lobster', cursive;
	font-family: 'Playball', cursive;

	font-size: 30px;
	color: #337ab7;
	margin-right: 10px;
}
.navbar {
	background-color: rgba(255, 255, 255, 0.9);
	border: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #337ab7;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	border-bottom: 4px solid rgb(65, 148, 218);
	background-color: inherit;
}
.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--main-bg-color);
	/* background-image: url('../images/thiss.jpg'); */
	background-size: cover;
	height: 100vh;
	/* min-height:calc(100vh - 52px); */
	background-position: center;
	background-attachment: fixed;
	position: relative;
	flex-direction: column;
	text-align: center;
}
.title {
	font-family: 'Lobster', cursive;
	font-family: 'Playball', cursive;

	color: #ffffff;
	font-size: 50px;
	text-align: center;
}
.subtitle {
	font-size: 25px;
	color: #ffffff;
	letter-spacing: 1px;
}
.btn-start {
	background-color: #fff;
	border-radius: 0;
	padding: 10px 30px;
	position: absolute;
	bottom: 0px;
	font-size: 16px;
	transition: 0.2s ease;
	height: 50px;
	overflow: hidden;
}
.btn-start:hover {
	height: 80px;
	transition: 0.2s ease;
	color: #337ab7;
}
.arrow {
	margin-top: 15px;
}
.section-title {
	text-align: center;
	margin-top: 50px;
	letter-spacing: 8px;
}
.section-title::after {
	content: '';
	display: block;
	margin:0 auto;
	width:100px;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	border: 2px solid #337ab7;
}
.section-detail{
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
.feat-box {
	margin-bottom: 10px;
	text-align: center;
	padding: 20px 30px 20px 30px;
}
.feat-box:hover {
	box-shadow: 0px 0px 30px rgb(227, 227, 227);
	transition: 0.4s ease;
}
.feat-title {
	font-family: 'Lobster', cursive;
	font-family: 'Playball', cursive;
	margin-bottom: 30px;
	margin-top: 30px;
}
.btn-feat {
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 13px;
	background: linear-gradient(rgb(65, 148, 218), rgb(51, 123, 184));
	border:0;
	transition: 0.4s ease;
	color: #fff;
	border-radius: 0;
}

.btn-feat:hover{
	background-color: rgba(51, 123, 184,0.);
	color: #fff;
	transition: 0.4s ease;
}
.join-container {
	background: rgba(65, 148, 218,0.5);
	min-height: 50vh;
	background-attachment: fixed;
	background-size: cover;
}
.inverse {
	color: #ffffff;
}
