.rating-title {
  font-size: 43px;
	color: #fff;
	letter-spacing: 2px;
  font-family: var(--title-font);
  white-space: nowrap;
}
.rating-subtitle {
  font-size: 18px;
  color: #fff;
  padding:0;
  margin: 40px 0px 40px 0px;
}
.logo {
  font-family: var(--special-font);
  font-size: 25px;
}
.name-input-group {
  width: 500px;
  margin: 0 auto;
}
.book-name-input {
  width: 500px;
  border-radius: 0;
  padding: 23px;
  font-size: 15px;
  border:0;
}

.btn-rate {
  padding: 7.5px 15px;
  font-size: 22px;
  letter-spacing: 2px;
  transition: 0.4s ease;
  font-family: var(--title-font);
  background-color: rgb(255, 255, 255);
  color: var(--secondary-color);
}
.form-control:focus {
  border-color: rgb(255, 255, 255);
  box-shadow: none;
}
.btn-icon {
  color: var(--secondary-color);
  background: rgb(255, 255, 255);
  position: fixed;
  padding: 12px 18px;
  border-radius: 50px;
  bottom: 20px;
  right: 50px;
  transition: 0.2s ease;
}
.btn-icon .fa-info {
  font-size: 22px;
  padding: 2px;
}
.btn-icon:hover {
  padding: 18px 24px;
}
.cd-panel {
  z-index: 100;
}
.panel-title {
  font-size: 30px;
  letter-spacing: 1px;
  font-family: var(--title-font);
}
.panel-title::after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 100px;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	border: 2px solid var(--secondary-color);
}
.panel-text {
  font-size: 17px;
}
.btn-back {
  border: 0;
  padding: 10px 50px;
  font-size: 15px;
  font-family: var(--title-font);
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
}
.btn-back:hover {
  background-color: rgb(92, 174, 224);
  transition: 0.4s ease;
}
.navigation
{
  height: 60px;
  width: 100%;
  background-color: var(--secondary-color);
}
.btn-navs {
  color: #fff;
  line-height: 60px;
}
.btn-navs:hover {
  color: #fff;
  transform: scale(1.1);
}
.btn-return {
  font-size: 30px;
}
.btn-detail {
  text-align: right;
  font-size: 20px;
}
.page-title {
  font-size: 25px;
  color: #fff;
  letter-spacing: 2px;
  font-family: var(--title-font);
  line-height: 60px;
}
.page-subtitle {</center>
  font-size: 15px;
  color: #fff;
  padding:0;
  margin: 40px 0px 40px 0px;
}
.page-logo {
  font-family: var(--special-font);
  font-size: 27px;
  line-height: 60px;
  color: #fff;
  letter-spacing: 2px;
}
.rating{
  text-align: center;
  font-size: 120px;
  color: var(--secondary-color);
}
.rating-span {
  font-size: 30px;
  font-weight: 700;
}
.book-name {
  font-size: 40px;
  font-family: var(--title-font);
  text-align:center;
  color: rgb(83, 83, 83);
}
.book-author {
  color: rgba(83, 83, 83, 0.4);
  font-size: 18px;
  text-align: center;
}
.book-url {
  color: rgba(83, 83, 83, 0.4);
  font-size: 15px;
}
.digit {
  font-family: var(--title-font);
  font-size: 50px;
}
.total {
  text-align: center;
  color: rgb(0, 138, 181);
}
.positive {
  text-align: center;
  color: rgb(0, 149, 78);
}
.negative {
  text-align: center;
  color: rgb(217, 36, 36);
}
.stats {
  margin-top: 50px;
}
.stat-label {
  font-family: var(--title-font);
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.rating {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.error-text {
  color: #fff;
  font-size: 16px;
}
@media (max-width:480px) {

  .name-input-group {
    width: 350px;
  }
  .btn-icon {
    right: 45%;
  }

}
